.hero {
    background: linear-gradient(135deg, #094f44, #10302E);
    min-height: 55vh;
    display: flex;
    align-items: center;
}

img {
    max-width: 100%; /* Nunca ultrapassa o tamanho da tela */
    width: auto; /*Mantém a proporção */
    max-height: 400px; /* Opcional: limita a altura se quiser */
}